<div class="row">
	<small class="medium-12 columns"><a href="https://thenounproject.com/term/treasure-map/40510/" target="_blank">Treasure Map</a> by Guillaume Kurkdjian from the Noun Project</small>
</div>