<meta charset="UTF-8">
<title>Scavenger Hunt 2015</title>
<link rel="stylesheet" href="css/normalize.css"/>
<link rel="stylesheet" href="css/foundation.min.css"/>
<link rel="stylesheet" href="css/style.css"/>
<link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
<script src="js/vendor/modernizr.js"></script>