<script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
<script type="infowindow/html" id="infowindow_template">
  <div class="cartodb-popup">
    <a href="#close" class="cartodb-popup-close-button close">x</a>
     <div class="panel">
       <div>
         <img style="width:100%;" src="{{content.data.ig_thumbnail}}"/>
         <h4>{{content.data.team_name}}</h4>
       </div>
     </div>
  </div>
</script>
<script>
  window.app.createMap('<%=team %>');
</script>