@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesanspro-semibold-webfont.eot');
    src: url('../fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-semibold-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-semibold-webfont.svg#source_sans_proSBdIt') format('svg');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_prolight';
    src: url('../fonts/sourcesanspro-light-webfont.eot');
    src: url('../fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-light-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-light-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: 300;
    font-style: normal;

}

body * {
	font-family: 'Source Sans Pro', sans-serif!important;
	font-weight:300;
}

h3 {
	text-transform: uppercase;
    text-align: center;
	letter-spacing:0.15rem;
	margin:1rem 0;
}
h3 span {
	color:#FDA330;
}
small {
	text-align: center;
}
strong {
	text-transform: uppercase;
	font-weight:600;
}
ul li {
	list-style: lower-greek inside;
}
.splash {
	margin:1rem 0;
}
.button,
.button:visited {
	background-color:#FDA330!important;
}
.button:hover{
	background-color:#FFD033!important;
}

.welcome {
    text-align:center;
    margin-bottom:1rem;
}

.welcome h4 {
    display:none;
}
/* map */
#map {
	height:20rem;
    border:0.9375rem solid #fff;
	margin-bottom:1rem;
}
.cartodb-popup {
    background:none!important;
}