body * {
	font-family: 'Source Sans Pro', sans-serif!important;
	font-weight:300;
}

h3 {
	text-transform: uppercase;
	letter-spacing:0.15rem;
	margin:1rem 0;
}
h3 span {
	color:#FDA330;
}
small {
	text-align: center;
}
strong {
	text-transform: uppercase;
	font-weight:600;
}
.splash {
	margin:1rem 0;
}
.button,
.button:visited {
	background-color:#FDA330;
}
.button:hover{
	background-color:#FFD033;
}

/* map */
#map {
	width:100%;
	height:20rem;
}
.cartodb-popup {
    background:none!important;
}