<!DOCTYPE html>
<html lang='en'>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<div class="row">
			<h3 class="medium-6 medium-centered columns"><span><strong>CUNY-J</strong> Scavenger Hunt 2015</span></h3>
			<div class="small-3 small-centered columns">
				<img class="splash" src="img/splash.png"/>
			</div>
			<ul class="medium-7 medium-centered columns">
				<li>The game is on!</li>
				<li>Enter your team name (without the "#team" part).</li>
				<li>Press enter, or click to check your team progress.</li>
			</ul>
		</div>
		<form class="row">
			<div class="medium-7 medium-centered columns">
				<div class="row collapse prefix-radius">
					<div class="small-3 columns">
				  		<span class="prefix">#team</span>
					</div>
					<div class="small-9 columns">
				  		<input id='teamName' type="text" placeholder="your team name">
					</div>
				</div>
				<div class="row">
					<div class="medium-12 columns">
						<a id='toMap' href="#" class="button expand"><strong>check team progress</strong></a>
					</div>
				</div>
			</div>
		</form>
		<% include ../partials/footer %>
	</body>
	<% include ../partials/scriptsAll %>
</html>