<!DOCTYPE html>
<html lang='en'>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<div class="row welcome">
			<h3 id="name" data-id="<%=original%>" class="medium-7 medium-centered columns"><strong><%= team %></strong></h3>
			<h4 id="withDataRows"class="medium-7 medium-centered columns">You've been to <span id="dataRowNumber" class="label round info"></span> places!</h4>
			<h4 id="noDataRows" class="medium-7 medium-centered columns">It doesn't look like you have been anywhere. Start posting to your instagram!</h4>
		</div>
		<div id="map" class="medium-12"></div>
		<div class="medium-12">
			<ul class="button-group even-2">
				<li><a id="update" href="#" class="button"><strong>update team progress</strong></a></li>
				<li><a class="button secondary expand" href="https://jue.cartodb.com/viz/b887b6ec-4487-11e5-ad67-0e853d047bba/embed_map" target="_blank"><strong>view map with all the teams</strong></a></li>
			</ul>
		</div>
	</body>
	<% include ../partials/scriptsAll %>
	<% include ../partials/scriptsMap %>
</html>