<!DOCTYPE html>
<html lang='en'>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<div class="row">
			<h3 class="medium-12 columns"><strong><%= team %></strong> - you have been to these places!</h3>
		</div>
		<div id='map'></div>
	</body>
	<% include ../partials/scriptsAll %>
	<% include ../partials/scriptsMap %>
</html>